In [2]:
# 원리금 합계 구하기

a = 1000      # 원금
r = 0.05      # 이자율
n = 10        # 기간
result = a* (1+r)**n   # 원리금 합계

print("원리금 합계=", result)

원리금 합계= 1628.894626777442

In [6]:
# 소수점 자리
price = 12345
tax = price * 0.075
tax = round(tax,2)
print(tax)

925.88

In [7]:
# 문자열
msg = "hello"
print(msg)
msg = 'hi'
print(msg)

hello
hi

In [8]:
# 세 따옴표 문자열 - 여러줄 표시 가능
a = """
안녕하세요
지금
파이썬을
배우고 있습니다.
"""
print(a)

안녕하세요
지금
파이썬을
배우고 있습니다.

In [12]:
Lines = "-" * 30
print(Lines)

------------------------------

In [17]:
# 숫자를 문자로 변환
movie = "Terminator" + str(3)
print(movie)

Terminator3

In [21]:
# \n 특수문자 사용
print("말 한마디로\n천냥 빚을\n갚는다")

말 한마디로
천냥 빚을
갚는다

In [25]:
# 문자열은 배열로 처리함 - 한 칸이라도 들여쓰기하면 오류 발생
a = "Kim"
b = "Park"
c = "Lee"
acronym = a[0] + "과" + b[0] + "과" + c[0]
print(acronym)

K과P과L

In [27]:
# 파이썬은 모든 변수를 오브젝트로 선언

name = "Harry Porter"
lower_name = name.lower()
print(lower_name)
upper_name = name.upper()
print(upper_name)

harry porter
HARRY PORTER